* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 5%;
    background-color:#9ac2d0;
    font-family: "Helvetica", sans-serif;
    font-weight: lighter;
}
      
p {
    line-height: 1.4;
}
      
h2 { 
    margin-bottom: 1rem;
    font-weight: normal;
    font-family: Georgia;
}

section { 
    border:2px solid #fff;
  }


  /* --------------------- Section 1 Grid --------------------- */
  .box-1 {
    background-color: #F08080;
    padding: 2%;
    border: 2px solid #FFF4EB;
  }
  
  .box-2 {
    background-color: #F4978E;
    padding: 2%;
    border: 2px solid #FFF4EB;
  }
  
  .box-3 {
    background-color: #F8AD9D;
    padding: 2%;
    border: 2px solid #FFF4EB;
  }

    /* --------------------- Section 2 Grid ---------------------*/
.outer-box {
    min-height: 30vw;
    background-color: #fff;
    border:0.5rem solid #9ac2d0;
    padding: 0.5rem;
}

.orange-box {
    background-color: #f8c05b;
    border:0.5rem solid white;
  }


  /*--------------------- Reusable styles ---------------------*/
.padded-05 {
	padding: 0.5%;
}

.padded-1 {
	padding: 1%;
}